{% extends 'header.html'%}
{%block body %}
<article class="mb-4">
    <div class="container px-4 py-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <br />
                <h3>{{article.title}}</h3>
                <h4>By {{article.author}}</h4>
                <p class="article-control">{{article.content}}</p>
                <h5>{{article.created_on.strftime('%d/%b/%Y')}}</h5>
                {% if current_user.id == article.user_id %}
                <a class="button" href="/edit/{{article.id}}/">Update</a> 
                <a class="button" href="/delete/{{article.id}}/">Delete</a>
                <br />
                {% endif %} 
                
                
            </div>
        </div>
    </div>
</article>
{%endblock %}